.title {
  color: $txt-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.posts {
  padding: 38px 0 40px;
  @media (min-width: 768px) {
    padding: 56px 0 60px;
  }
  @media (min-width: 1200px) {
    padding: 66px 0 70px;
  }
}

.posts__content {
  @include f-column;
  gap: 28px;
  padding-top: 23px;
  @media (min-width: 768px) {
    gap: 34px;
  }
  @media (min-width: 1200px) {
    height: 355px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.posts__item {
  @include f-column;
  gap: 11px;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 21px;
    width: 550px;
  }
}

.posts__subtitle {
  color: $txt-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.posts__detail {
  color: #7C7C7C;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  @media (min-width: 768px) {
    font-size: 12px;
  }
}

.posts__txt {
  color: #5C5C5C;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.posts__item-last {
  display: none;
  order: 4;
  @media (min-width: 768px) {
    display: flex;
  }
}

.posts__item-2 {
  @media (min-width: 1200px) {
    order: 3;
  }
}

.posts__item-3 {
  @media (min-width: 1200px) {
    order: 2;
  }
}

.instagram {
  padding: 38px 0 42px;
  @media (min-width: 768px) {
    padding: 47px 0 50px;
    background: rgba(0, 0, 0, 0.03);
  }
}

.instagram__top {
  display: flex;
  justify-content: space-between;
}

.title-first {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.title-extra {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.instagram__link {
  display: none;
  color: $txt-color;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    display: block;
  }
}

.instagram__content {
  margin: 0 -4px;
  padding-top: 13px;
  display: flex;
  justify-content: start;
  @media (min-width: 768px) {
    padding-top: 35px;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    padding-top: 24px;
  }
}

.instagram__img-2group {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.instagram__img-3group {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}

.instagram__img {
  padding: 0 4px;
  width: 94%;
  @media (min-width: 768px) {
    width: 33.33%;
  }
  @media (min-width: 1200px) {
    width: 25%;
  }
}