.footer {
  @include f-column;
  align-items: center;
  background-color: #000000;
  text-align: center;
  padding: 38px 0 47px;
  @media (min-width: 768px) {
    padding: 57px 0 66px;
  }
  @media (min-width: 1200px) {
    padding: 66px 0 70px;
  }
}

.footer__container {
  padding: 0 35px;
  margin: 0 auto;
}

.title-footer {
  color: #FEFEFE;
}

.footer__txt {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
  @media (min-width: 768px) {
    max-width: 684px;
    font-size: 16px;
    margin-top: 22px;
  }
}

.footer__txt-extra {
  display: none;
  @media (min-width: 768px) {
    display: inline;
  }
}
.footer__icons{
  margin-top: 26px;
  @media (min-width: 768px) {
    margin-top: 37px;
  }
}
.footer__contacts {
  color: #B9B9B9;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  @media (min-width: 768px) {
    margin-top: 34px;
    font-size: 16px;
  }
}