.header__img {
  width: 100%;
}

.header__nav {
  @include f-column;
  align-items: end;
  padding: 23px 0;
  @media (min-width: 768px) {
    padding: 23px 0 28px;
    justify-content: center;
  }
}

.header__btn {
  width: 44px;
  height: 37px;
  background: #000000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 17px;
    background: #FFFFFF;
    top: 12px;
    transition: 0.3s;
  }

  &:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 17px;
    background: #FFFFFF;
    bottom: 11px;
    transition: 0.3s;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.header__icon {
  height: 2px;
  width: 17px;
  background: #FFFFFF;
  transform: scale(1);
}

.header__btn.active .header__icon {
  transform: scale(0);
}

.header__btn.active:before {
  top: 47%;
  transform: rotate(-45deg);
}

.header__btn.active:after {
  bottom: 48%;
  transform: rotate(45deg);
}

.header__list {
  width: 182px;
  height: 200px;
  background: #F5F5F5;
  @include f-column;
  position: absolute;
  top: 60px;
  color: $txt-color;
  font-size: 11px;
  font-weight: 400;
  line-height: 28.5px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  visibility: hidden;
  @media (min-width: 768px) {
    visibility: visible;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    padding: 18px 85px 15px;
    line-height: 22px;
    background: #FFFFFF;
  }
  @media (min-width: 1200px) {
    padding: 18px 178px 15px;
  }
}

.visible {
  visibility: visible;
  transition: 0.3s;
}

.header__item {
  padding-left: 14px;
  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.header__item:hover {
  background: #E5E5E5;
  cursor: pointer;
  color: #57A4A4;
  @media (min-width: 768px) {
    background: #FFFFFF;
  }
}