/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__img {
  width: 100%;
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 23px 0;
}
@media (min-width: 768px) {
  .header__nav {
    padding: 23px 0 28px;
    justify-content: center;
  }
}

.header__btn {
  width: 44px;
  height: 37px;
  background: #000000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__btn:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 17px;
  background: #FFFFFF;
  top: 12px;
  transition: 0.3s;
}
.header__btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 17px;
  background: #FFFFFF;
  bottom: 11px;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__icon {
  height: 2px;
  width: 17px;
  background: #FFFFFF;
  transform: scale(1);
}

.header__btn.active .header__icon {
  transform: scale(0);
}

.header__btn.active:before {
  top: 47%;
  transform: rotate(-45deg);
}

.header__btn.active:after {
  bottom: 48%;
  transform: rotate(45deg);
}

.header__list {
  width: 182px;
  height: 200px;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  color: #4E4E4E;
  font-size: 11px;
  font-weight: 400;
  line-height: 28.5px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  visibility: hidden;
}
@media (min-width: 768px) {
  .header__list {
    visibility: visible;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    padding: 18px 85px 15px;
    line-height: 22px;
    background: #FFFFFF;
  }
}
@media (min-width: 1200px) {
  .header__list {
    padding: 18px 178px 15px;
  }
}

.visible {
  visibility: visible;
  transition: 0.3s;
}

.header__item {
  padding-left: 14px;
}
@media (min-width: 768px) {
  .header__item {
    padding-left: 0;
  }
}

.header__item:hover {
  background: #E5E5E5;
  cursor: pointer;
  color: #57A4A4;
}
@media (min-width: 768px) {
  .header__item:hover {
    background: #FFFFFF;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  text-align: center;
  padding: 38px 0 47px;
}
@media (min-width: 768px) {
  .footer {
    padding: 57px 0 66px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 66px 0 70px;
  }
}

.footer__container {
  padding: 0 35px;
  margin: 0 auto;
}

.title-footer {
  color: #FEFEFE;
}

.footer__txt {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .footer__txt {
    max-width: 684px;
    font-size: 16px;
    margin-top: 22px;
  }
}

.footer__txt-extra {
  display: none;
}
@media (min-width: 768px) {
  .footer__txt-extra {
    display: inline;
  }
}

.footer__icons {
  margin-top: 26px;
}
@media (min-width: 768px) {
  .footer__icons {
    margin-top: 37px;
  }
}

.footer__contacts {
  color: #B9B9B9;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .footer__contacts {
    margin-top: 34px;
    font-size: 16px;
  }
}

.title {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .title {
    font-size: 16px;
  }
}

.posts {
  padding: 38px 0 40px;
}
@media (min-width: 768px) {
  .posts {
    padding: 56px 0 60px;
  }
}
@media (min-width: 1200px) {
  .posts {
    padding: 66px 0 70px;
  }
}

.posts__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 23px;
}
@media (min-width: 768px) {
  .posts__content {
    gap: 34px;
  }
}
@media (min-width: 1200px) {
  .posts__content {
    height: 355px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.posts__item {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
@media (min-width: 768px) {
  .posts__item {
    flex-direction: row;
    gap: 21px;
    width: 550px;
  }
}

.posts__subtitle {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}
@media (min-width: 768px) {
  .posts__subtitle {
    font-size: 16px;
  }
}

.posts__detail {
  color: #7C7C7C;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .posts__detail {
    font-size: 12px;
  }
}

.posts__txt {
  color: #5C5C5C;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: none;
}
@media (min-width: 768px) {
  .posts__txt {
    display: block;
  }
}

.posts__item-last {
  display: none;
  order: 4;
}
@media (min-width: 768px) {
  .posts__item-last {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .posts__item-2 {
    order: 3;
  }
}

@media (min-width: 1200px) {
  .posts__item-3 {
    order: 2;
  }
}

.instagram {
  padding: 38px 0 42px;
}
@media (min-width: 768px) {
  .instagram {
    padding: 47px 0 50px;
    background: rgba(0, 0, 0, 0.03);
  }
}

.instagram__top {
  display: flex;
  justify-content: space-between;
}

.title-first {
  display: block;
}
@media (min-width: 768px) {
  .title-first {
    display: none;
  }
}

.title-extra {
  display: none;
}
@media (min-width: 768px) {
  .title-extra {
    display: block;
  }
}

.instagram__link {
  display: none;
  color: #4E4E4E;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.instagram__link:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .instagram__link {
    display: block;
  }
}

.instagram__content {
  margin: 0 -4px;
  padding-top: 13px;
  display: flex;
  justify-content: start;
}
@media (min-width: 768px) {
  .instagram__content {
    padding-top: 35px;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .instagram__content {
    padding-top: 24px;
  }
}

.instagram__img-2group {
  display: none;
}
@media (min-width: 768px) {
  .instagram__img-2group {
    display: block;
  }
}

.instagram__img-3group {
  display: none;
}
@media (min-width: 1200px) {
  .instagram__img-3group {
    display: block;
  }
}

.instagram__img {
  padding: 0 4px;
  width: 94%;
}
@media (min-width: 768px) {
  .instagram__img {
    width: 33.33%;
  }
}
@media (min-width: 1200px) {
  .instagram__img {
    width: 25%;
  }
}

body {
  min-width: 320px;
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/*# sourceMappingURL=style.css.map */
