@import "./service/variables.scss";
@import "./service/mixins.scss";
@import "./base/reset.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./sections/main.scss";

body {
  min-width: 320px;
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

