<footer class="footer">
    <div class="footer__container">
        <h2 class="title title-footer">- get in touch with us -</h2>
        <p class="footer__txt">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec
            malesuada ullamcorper
            odio.<span class="footer__txt-extra">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
        <div class="footer__icons">
            <img src="images/RSS.png" alt="social-icon">
            <img src="images/Facebook.png" alt="social-icon">
            <img src="images/Twitter.png" alt="social-icon">
            <img src="images/Dribbble.png" alt="social-icon">
            <img src="images/Pinterest.png" alt="social-icon">
        </div>
        <p class="footer__contacts"> Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 / first.last@email.com</p>
    </div>
</footer>
