<header class="header">
    <div class="container">
        <nav class="header__nav">
            <button class="header__btn">
                <span class="header__icon"></span>
            </button>
            <ul class="header__list">
                <li class="header__item"><a href="#">Home</a></li>
                <li class="header__item"><a href="#">About Us</a></li>
                <li class="header__item"><a href="#">Our Journal</a></li>
                <li class="header__item"><a href="#">Projects</a></li>
                <li class="header__item"><a href="#">news</a></li>
                <li class="header__item"><a href="#">features</a></li>
                <li class="header__item"><a href="#">contact</a></li>
            </ul>
        </nav>
        <div>
            <img class="header__img" src="images/intro-img.jpg" alt="intro-img">
        </div>
    </div>
</header>


