<main>
    <section class="posts">
        <div class="container">
            <h2 class="title">- our Recent posts</h2>
            <div class="posts__content">
                <div class="posts__item">
                    <div class="posts__picture"><img class="posts__img" src="images/posts1.jpg" alt="posts-img"></div>
                    <div>
                        <h3 class="posts__subtitle">Aenean Adipiscing Etiam Vestibulum</h3>
                        <h4 class="posts__detail">Photography, Journal / 9 Comments</h4>
                        <p class="posts__txt">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                            sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
                <div class="posts__item posts__item-2">
                    <div class="posts__picture"><img class="posts__img" src="images/posts2.jpg" alt="posts-img"></div>
                    <div>
                        <h3 class="posts__subtitle">Aenean Adipiscing Etiam Vestibulum</h3>
                        <h4 class="posts__detail">Photography, Journal / 9 Comments</h4>
                        <p class="posts__txt">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                            sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
                <div class="posts__item posts__item-3">
                    <div class="posts__picture"><img class="posts__img" src="images/posts3.jpg" alt="posts-img"></div>
                    <div>
                        <h3 class="posts__subtitle">Aenean Adipiscing Etiam Vestibulum</h3>
                        <h4 class="posts__detail">Photography, Journal / 9 Comments</h4>
                        <p class="posts__txt">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                            sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
                <div class="posts__item posts__item-last">
                    <div class="posts__picture"><img class="posts__img" src="images/posts4.jpg" alt="posts-img"></div>
                    <div>
                        <h3 class="posts__subtitle">Aenean Adipiscing Etiam Vestibulum</h3>
                        <h4 class="posts__detail">Photography, Journal / 9 Comments</h4>
                        <p class="posts__txt">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                            sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="instagram">
        <div class="container">
            <div class="instagram__top">
                <h2 class="title title-first">- Last Instagram Shot</h2>
                <h2 class="title title-extra">- Latest Instagram Shots</h2>
                <a class="instagram__link">go to our instagram page -</a>
            </div>
            <div class="instagram__content">
                <img class="instagram__img" src="images/instagram1.jpg" alt="instagram-img">
                <img class="instagram__img instagram__img-2group" src="images/instagram2.jpg" alt="instagram-img">
                <img class="instagram__img instagram__img-2group" src="images/instagram3.jpg" alt="instagram-img">
                <img class="instagram__img instagram__img-3group" src="images/instagram4.jpg" alt="instagram-img">
            </div>
        </div>
    </section>
</main>